<h1> This is the home page </h1>

<p id=generalDescription>Lorem ipsum, general description goes here</p>
<p id=secondaryDescription>More paragraphs would go here with extra information</p>

<%= link_to 'About', pages_about_path %>
